---
import Button from './Button.astro';
---

<section class="grid-lg cta">
  <div class="grid-sm">
    <h1 class="h1">Let Us Tell Your Story</h1>
    <p class="text-muted narrow">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil nobis fugit, tempore, tenetur autem sunt vitae itaque sequi perferendis beatae qui vero, optio harum voluptatibus rem! Quasi.</p>
  </div>
  <div class="grid-sm">
    <Button text="Contact Me" link="#" style="secondary"  />
    <small class="text-muted">No commitment contact</small>
  </div>
</section>